// =============================================================================
// Transforms
// =============================================================================

@mixin transform($args...) {
    // Todo replace with autoprefixer
    -webkit-transform: $args;
    -ms-transform: $args;
    transform: $args;
}
