html {
    font-size: $font__size--root-xs;
    @include media-breakpoint-up(sm) {
        font-size: $font__size--root-sm;
    }
    @include media-breakpoint-up(md) {
        font-size: $font__size--root;
    }
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: $font__family--body, $font__fallback;
    font-size: $font__size--base;
    line-height: $font__line-height;
    color: $font__color--body;
    background-color: $color__background;
    -webkit-font-smoothing: antialiased;
}

// =============================================================================
// Typography
// =============================================================================

// =============================================================================
// Basic styling
// =============================================================================

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font__family--headings, $font__fallback;
}

.blog {
    font-family: $font__family--blog, $font__fallback;
}

// =============================================================================
// General Sizing
// =============================================================================

h1,
.h1 {
    font-weight: $font__weight--black;
    font-size: $font__size--h1;
    letter-spacing: -0.05em; // Adjust to your font
    line-height: 0.75;
    @include media-breakpoint-up(sm) {
        font-size: $font__size--h1 + 1rem;
    }
}

.h1--boom {
    font-size: $font__size--h1;
    @include media-breakpoint-up(lg) {
        font-size: $font__size--boom;
        line-height: 1;
    }
}

h2,
.h2 {
    font-weight: $font__weight--bold;
    font-size: $font__size--h2;
    letter-spacing: -0.05em; // Adjust to your font
    line-height: 1;
    padding-top: 0.5rem;
}

h3,
.h3 {
    font-weight: $font__weight--light;
    font-size: $font__size--h3;
    letter-spacing: -0.025em; // Adjust to your font
    line-height: 1;
}

h4,
.h4 {
    font-weight: $font__weight--light;
    font-size: $font__size--h4;
    line-height: 1.5rem;
    letter-spacing: -0.025em; // Adjust to your font
    padding-top: 0.5rem;
}

h5,
.h5 {
    font-weight: $font__weight--light;
    font-size: $font__size--h5;
    line-height: 1rem;
}

h6,
.h6 {
    font-weight: $font__weight--light;
    font-size: $font__size--h6;
    line-height: 1rem;
}

p,
.p {
    font-weight: $font__weight--regular;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    letter-spacing: 0;
    line-height: 1rem;
}

.quote {
    font-weight: $font__weight--light;
    font-size: $font__size--h3;
    display: block;
    text-align: center;
    font-style: italic;
}

blockquote,
.blockquote {
    //research block quote styling
    display: block;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    line-height: 1rem;
    margin: $rhythm;
}

small,
.small {
    font-size: 0.5rem;
    line-height: 0.5rem;
    margin-bottom: 0.5rem;
}
